.App{
background: linear-gradient(to bottom, #04060C, #0B1525, #162031, #0D1425, #09101E, #000001 );
/* display: flex;
flex-direction: column;
height: 100vh; */
/* height: 100vh; */
}

body::-webkit-scrollbar {
    width: 18px;               /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
    background: #162031;        /* color of the tracking area */
  }

  body::-webkit-scrollbar-thumb {
    background-color: #162031;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #ffffff;  /* creates padding around scroll thumb */
  }
